{% extends "base.html" %}

{% block content %}
<h2>Logs</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Date</th>
            <th>Video ID</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log._id }}</td>
            <td>{{ log.type }}</td>
            <td>{{ log.date }}</td>
            <!-- <td>{{ log.video_id }}</td> -->
            <td>
                <a href="{{ url_for('api.get_fragment_by_id', video_id=log.video_id) }}">{{ log.video_id }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
